Repository LuminaCritics/LuminaCritics, pull requests merged in 2023-11, with the labels that each got.

#66 Feature/rf28 adicionando validacoes as rotas
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/userController.js
  backend/src/middlewares/validationMiddleware.js
  backend/src/routes/routes.js
  backend/yarn.lock
Labels: backend

#68 Feature/rf29 listar e favoritar animes
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/animeController.js
  backend/src/controllers/userController.js
  backend/src/models/favoriteAnimeModel.js
  backend/src/models/userModel.js
  backend/src/routes/routes.js
  backend/src/util/animeUtils.js
  backend/yarn.lock
Labels: enhancement, backend

#71 fix: enviando dados do usuário após login
  backend/src/controllers/userController.js
Labels: backend

#72 Feature/arrumando cagadas
  backend/docker-compose.yml
  backend/index.js
  backend/migrations/20231117181657-favoriteAnime.js
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/animeController.js
  backend/src/controllers/userController.js
  backend/src/models/favoriteAnimeModel.js
  backend/src/models/userModel.js
  backend/src/routes/routes.js
  backend/src/util/animeUtils.js
  backend/yarn.lock
Labels: backend

#73 fix: arrumando a migration
  backend/migrations/20231117181657-favoriteAnime.js
Labels: bug, backend

#74 refact: subindo nova base
  backend/src/routes/routes.js
Labels: backend

#77 Feature/rf30 recuperacao de senha
  backend/.env.example
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/userController.js
  backend/src/routes/routes.js
  backend/yarn.lock
Labels: backend

#79 Feature/rf31 criar rating e comments
  backend/migrations/20231122024301-comments.js
  backend/migrations/20231122024716-rating.js
  backend/src/controllers/commentController.js
  backend/src/controllers/ratingController.js
  backend/src/models/commentModel.js
  backend/src/models/ratingModel.js
  backend/src/models/userModel.js
  backend/src/routes/routes.js
Labels: enhancement, backend
