Repository LuminaCritics/LuminaCritics, pull requests merged in 2023-09, with the labels that each got.

#24 Feature/rf11 recuperacao de senha
  backend/critics/admin.py
  backend/critics/apps.py
  backend/critics/migrations/0001_initial.py
  backend/critics/models.py
  backend/critics/serializers.py
  backend/critics/signals.py
  backend/critics/views.py
  backend/luminacritics/settings.py
  backend/luminacritics/urls.py
  backend/requirements.txt
  backend/templates/email/password_reset_email.html
  backend/templates/email/password_reset_email.txt
Labels: enhancement, backend

#29 docs/rf16 documentacao da api
  backend/README.md
Labels: documentation, backend

#34 docs: adicionando swagger a aplicacao
  backend/critics/urls.py
  backend/luminacritics/settings.py
  backend/requirements.txt
Labels: documentation, backend

#39 Feature/rf01 visualizar home layout
  .env
  .gitignore
  backend/.gitignore
  backend/Dockerfile
  backend/README.md
  backend/critics/__init__.py
  backend/critics/admin.py
  backend/critics/apps.py
  backend/critics/migrations/0001_initial.py
  backend/critics/migrations/__init__.py
  backend/critics/models.py
  backend/critics/serializers.py
  backend/critics/signals.py
  backend/critics/tests.py
  backend/critics/urls.py
  backend/critics/views.py
  backend/luminacritics/__init__.py
  backend/luminacritics/admin.py
  backend/luminacritics/asgi.py
  backend/luminacritics/settings.py
  backend/luminacritics/urls.py
  backend/luminacritics/wsgi.py
  backend/manage.py
  backend/requirements.txt
  backend/templates/email/password_reset_email.html
  backend/templates/email/password_reset_email.txt
  docker-compose.yml
  frontend/.gitignore
  frontend/.vscode/extensions.json
  frontend/.vscode/launch.json
  frontend/Dockerfile
  frontend/astro.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/formComponents/formCard.astro
  frontend/src/components/formComponents/formField.astro
  frontend/src/components/pageComponents/Footer.astro
  frontend/src/components/pageComponents/Header.astro
  frontend/src/components/pageComponents/contentCard.astro
  frontend/src/components/pageComponents/contentContainer.astro
  frontend/src/components/pageComponents/stardewBackground.astro
  frontend/src/env.d.ts
  frontend/src/layouts/formLayout.astro
  frontend/src/layouts/pageLayout.astro
  frontend/src/pages/index.astro
  frontend/src/pages/login.astro
  frontend/src/pages/retrieve.astro
  frontend/src/pages/signup.astro
  frontend/src/public/moon.png
  frontend/tailwind.config.cjs
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: frontend

#41 Feature/rf01 visualizar home layout
  frontend/src/components/formComponents/formCard.astro
  frontend/src/components/formComponents/formField.astro
  frontend/src/components/pageComponents/Footer.astro
  frontend/src/components/pageComponents/Header.astro
  frontend/src/components/pageComponents/contentCard.astro
  frontend/src/components/pageComponents/contentContainer.astro
  frontend/src/components/pageComponents/stardewBackground.astro
  frontend/src/layouts/formLayout.astro
  frontend/src/layouts/pageLayout.astro
  frontend/src/pages/index.astro
  frontend/src/pages/login.astro
  frontend/src/pages/retrieve.astro
  frontend/src/pages/signup.astro
  frontend/src/public/moon.png
  frontend/yarn.lock
Labels: frontend
