Repository LuminaCritics/LuminaCritics, pull requests merged in 2023-10, with the labels that each got.

#43 Refact/rf21 refatorar rotas da api
  backend/critics/admin.py
  backend/critics/migrations/0001_initial.py
  backend/critics/models.py
  backend/critics/serializers.py
  backend/critics/urls.py
  backend/critics/views.py
  backend/luminacritics/settings.py
Labels: backend

#45 Ops/ci cd
  .github/workflows/ci.yml
  backend/Dockerfile.deploy
  backend/luminacritics/settings.py
  backend/requirements.txt
  docker-compose.yml
  frontend/netlify.toml
Labels: Ops

#44 Feature/rf02 criacao de toast
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/formComponents/toast.astro
  frontend/src/pages/login.astro
  frontend/src/pages/retrieve.astro
  frontend/src/pages/signup.astro
  frontend/yarn.lock
Labels: frontend

#46 visualizar sobre nós pronto
  frontend/src/components/pageComponents/Footer.astro
  frontend/src/layouts/formLayout.astro
  frontend/src/layouts/pageLayout.astro
  frontend/src/pages/about.astro
  frontend/src/public/astronaut.png
  frontend/src/public/littleAstronaut.png
Labels: frontend

#49 Feature/rf10 login de usuario
  backend/critics/urls.py
  backend/critics/views.py
Labels: bug, enhancement, backend

#53 Feat/rf24 rota de buscar usuario
  backend/README.md
  backend/critics/urls.py
  backend/critics/views.py
Labels: enhancement, backend

#54 feat: adicionando rota de buscar usuário
  backend/README.md
Labels: documentation, backend

#55 tela de contatos pronta
  frontend/src/components/pageComponents/Footer.astro
  frontend/src/pages/contacts.astro
Labels: frontend
